#gameboard {
    margin:auto;
    background-color:blue;
}
.void {
    background-color:white;
    height:100px;
    width:100px;
    border-radius:50%;
}
#header {
    margin:auto;
    text-align:center;
    font-family:"Monaco", monospace;
}
